body {
    background-color: white;
}

.container-About {
    justify-content: center;
    display: flex;
    margin: auto;
}

.parg{
    text-align: center;
}


.img-head  {
   
    max-width: 400px; 
      max-height: 400px;
      display: block; 
      margin: auto; 
}
