.admin-section {
  display: flex;
}
.admin-section .content {
  width: 100%;
}
.admin-section .content {
  padding: 1rem;
}

.admin-section .content .topbar {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.admin-section .content .topbar a {
  display: flex;
  align-items: center;
}
.admin-section .separator {
  font-size: 0.8rem;
}
