.cards {
  display: grid;
  justify-content: center;
  gap: 1rem;
}

.cards .cards-wrapper {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 1rem;

  flex-wrap: wrap;
}

.cards .show-more-button {
  padding: 0.75rem 0.5rem;
  background: var(--primary-red);
  color: white;
  width: max-content;
}
@media screen and (width < 700px) {
  .cards .cards-wrapper {
    flex-direction: column;
  }
}
