
.section
{
    height: 100vh;
    width: 100%;

}
.event{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    background:red;
    max-height: 300px;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(3,1fr)
}
.imgSpeaker{
 padding-left: 1rem;
 /* padding-right:10px; */
    
    
}
.spk1{
    border: 1px solid black;

   padding: 2rem;
   
   width: 4rem;
   border-radius:50%;
   overflow: hidden;
   text-align: center;
   position: relative;
   display: inline-block;
   margin-right: 1rem;
      
}
.button-container{
    display: flex;
    justify-content: flex-end;
}
.img{
    
    position: absolute;
    top: 0;
    left: 0;
   
    /* border-radius: 50%; */

    object-fit: cover;
}
.max-content{
    padding: 5px;
    width: max-content;
    
}
    
/* w-80  card w-96 shadow-xl flex flex-col */
.aaa{
    width: 3rem;
    height: 3rem;
    /* justify-content: center;
    align-content: center; */
    text-align: center;
    position: absolute;
    transform: translateY(-3rem);
}
.sec
{
    background-color: blueviolet;
    width: 100%;
    height: 50%;
}