nav .nav-links {
  position: relative;
}

nav .nav-links::before {
  position: absolute;
  inset: 0;

  scale: 2.5;
  transform: skew(45deg);
  content: "";
}

nav li {
  z-index: 10;
  display: grid;
  place-content: center;
  border: 3px solid transparent;
  font-weight: 600;
}

nav li[data-current="true"] {
  border-block-end-color: var(--primary-red);
}

nav {
  /* margin: 1rem auto !important; */
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1.25rem 2rem;
  box-shadow: -1px 1px 3px white;

  z-index: 1000;
  background: white;
}

nav .authentication-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: black;
}

nav .authentication-buttons button {
  padding: 0.5rem 0.75rem;
  border: 1px solid black;
  border: 2px solid transparent;
}

.nav .authentication-buttons button {
  border: 1px solid transparent;
  border-radius: 8px;
}
nav .authentication-buttons .sign-in {
  background-color: var(--primary-red);
  color: white;
}
nav .authentication-buttons .sign-up {
  border-color: var(--primary-red);
  color: var(--primary-red);
}
@media screen and (width < 700px) {
  .nav-links::before {
    background: transparent;
  }
  .nav-links {
    color: black;
  }
}
