.stats {
  background: #333;
  color: white;
  /* display: none; */
  /* height: 100vh; */
}
@media screen and (width < 700px) {
  .stats {
    display: grid;
    /* grid-template-columns: 1fr; */
    gap: 0.5rem;
  }
  .stats .stat {
    padding: 1.5rem 0.75rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
  }
}
